

.rsp-popup-wrap{

  @at-root .rsp-popup-inner{
    background: #efeff4;

    @at-root .rsp-popup-title{
      padding: 0.15rem 0.1rem 0.05rem;
      color: #3399FF;
    }
    
    @at-root .rsp-popup-block{
      background: white;
      padding: 0.15rem 0.1rem;

      @at-root .rsp-popup-fline{
        display: flex;
        padding: 0.2rem 0.1rem;
        font-size: 0.15rem;

        div{
          flex: 1;
          justify-content: space-between;
          color: #435f7d;
          line-height: 0.15rem;
        }
      }

      @at-root .rsp-room-status-list{
        display: flex;
        justify-content: space-between;

        @at-root .rsp-room-status-item{
          width: 0.6rem;
          text-align: center;
          border: 0.01rem solid rgba(255, 118, 37, 0.8);
          height: 0.25rem;
          line-height: 0.25rem;
          border-radius: 0.02rem;
          font-size: 0.12rem;
          color: rgba(255, 118, 37, 0.8);

          &.active{
            color: white;
            background: rgba(255, 118, 37, 0.8);
            border-color: rgba(255, 118, 37, 0.8);
          }
        }
      }

      @at-root .rsp-room-num-wrap{
        overflow: hidden;

        &>*{
          float: left;
          height: 0.25rem;
          line-height: 0.25rem;
        }

        input{
          box-sizing: border-box;
          width: 0.8rem;
          margin: 0 0.1rem;
          padding: 0 0.05rem;
          border: 0.01rem solid #ccc;
        }

        .iconfont{
          font-size: 0.22rem;
        }
      }

      @at-root .rsp-room-price-wrap{
        overflow: hidden;

        &>*{
          float: left;
          height: 0.25rem;
          line-height: 0.25rem;
        }

        input{
          box-sizing: border-box;
          width: 0.8rem;
          margin-right: 0.02rem;
          padding: 0 0.05rem;
          border: 0.01rem solid #ccc;
        }
      }

    }
  }
}