@charset "utf-8";

body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;color: #333333;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select,select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
input::-webkit-input-speech-button {display: none}
button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}



body, button, input, select, textarea {
    font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-user-select: text;
    -webkit-font-smoothing: antialiased;
}
select{-webkit-appearance: none;background: white;}
input[type='checkbox']{width: 12px;height: 12px;float: left;border-radius: 2px;border: 1px solid #333;margin: 4px 4px 0 0;padding: 0;}
::-webkit-input-placeholder { /* WebKit browsers */
	color:#D8D8DC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#D8D8DC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#D8D8DC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#D8D8DC;
}



/* 公共样式 start */
* {		/* 阻止长按文本选中 */
    -webkit-touch-callout:none;
    touch-callout:none;
    -webkit-user-select: none;
	user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body, html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    font-size: 0.14rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    box-sizing: border-box;
}

.page-content{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}





.iconfont { /* 覆盖 iconfont.css 里面的样式，这样就不用每次更改 iconfont.css 文件了 */
    font-size: 0.16rem;
}
.hidden{
    display: none;
}

.line-after{
    position: relative;
    
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 0.01rem solid #EFEEEC;
        width: 100%;
        transform: scaleY(0.5);
        transform-origin: 50% 100%;
        z-index: 15;
    }
}

.clearfix:after {
    display: block;
    content:"";
    clear:both;
}
/* 公共样式 end */