.mint-header{
    font-size: 0.16rem;
    height: 0.4rem;
    background: rgb(255, 118, 37);

    .mint-button{
        height: 0.4rem;
    }
}

.mint-datetime-action{
    color: white;
    background: #ff7625;

    &.mint-datetime-cancel{
        color: #666666;
        background: #e2e2e2;
    }
}

// indicator
.mint-indicator-wrapper{
    padding: 0.15rem!important;
    padding-bottom: 0.12rem!important;

    .mint-indicator-spin{

        @at-root .mint-spinner-snake{
            height: 0.2rem!important;
            width: 0.2rem!important;
        }
    }
}

.mint-popup-right{
    height: 100%;
}