.mint-header{
    font-size: 0.18rem;
    height: 0.4rem;
    background: rgb(255, 118, 37);

    .mint-button{
        height: 0.4rem;
    }
}

.mint-datetime-action{
    color: white;
    background: #ff7625;

    &.mint-datetime-cancel{
        color: #666666;
        background: #e2e2e2;
    }
}